*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	}
	
body{
	background: url("numbers.jpg") no-repeat fixed center;
	background-size: cover;
}

#calc_body{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -172.5px;
	width: 345px;
	height: 500px;
	background-color: rgba(232, 234, 237, 1);
	padding-top: 10px;
}

#calc_display{
	text-align: right;
	font-family: arial;
	font-size: 25px;
	color: #5e6166;
	background: #c2c4c6;
	margin: 5px 17.5px;
	height: 70px;
	width: 310px;
}

.calc_buttons{
	margin: auto;
	width: 320px;
	height 70px;
}

button{
	height: 70px;
	width: 70px;
	border: none;
	background-color: #c2c4c6;
	font-family: arial;
	font-size: 25px;
	color: #5e6166;
	margin: 5px;
}

#btn0{
	width: 150px;
}

#btnEql{
	font-family: arial;
	font-size: 25px;
	color: #5e6166;
	height: 70px;
	width: 150px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
	background-color: #5a5b5b;
}

